/* General Styles */
h1 {
  text-align: center;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: white; /* Dark Grey */
  color: white; /* Light Text */
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  background-color: white; /* Slightly lighter dark grey */
  color: white; /* Light Blue */
  text-align: center;
  padding: 20px;
  font-size: 24px;
}

.container-sm {
  margin-top: 100px;
  margin-bottom: 10px;
}

nav {
  background-color: rgb(0, 37, 70);
}
.nav-item {
  border-radius: 10px;
}

/* Navigation */
.navbar ul {
  list-style-type: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar {
  background-color: rgb(235, 235, 235);
}
.navbar a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.navbar a:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
  border-radius: 10px;
}

.navbar li {
  float: left;
}

/* Main Content */

.nav-item {
  color: rgb(50, 255, 255);
}

/* Floated Image */
.floated-img {
  float: left;
  margin: 10px;
  border-radius: 5px;
}

/* Lists */
ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

/* Table */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table,
th,
td {
  border: 1px solid rgb(50, 255, 255);
  padding: 10px;
  text-align: left;
}

/* Forms */
form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid white;
  background-color: white;
  color: black;
  border-radius: 5px;
}

.card {
  height: 100%;
  background-color: rgb(235, 235, 235);
}
#buyNowbtn {
  background-color: white;
  color: #000000;
  margin-left: 80px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#price {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 135, 0);
}
button {
  background-color: rgb(50, 255, 255);
  color: #000000;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#buyNowbtn:hover {
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
}
button:hover {
  background-color: rgb(50, 255, 255);
}

/* Footer */
footer {
  margin-top: auto;
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: black;
}

nav a {
  display: block;
  margin: 5px 0;
}
