/* General Styles */
h1 {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(235, 235, 235);
  color: black;
}
body {
  font-family: Calibri;
  background-color: white;
  color: black;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
#contactText {
  font-size: bigger;
}
.container-sm {
  margin-top: 100px;
  margin-bottom: 10px;
}

.nav-item {
  border-radius: 10px;
}

/* Navigation */
.navbar ul {
  list-style-type: none;
  background-color: white;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}
.navbar {
  background-color: rgb(235, 235, 235);
}
.navbar a {
  color: black;
  background-color: white;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  border-radius: 10px;
}

.navbar a:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
  border-radius: 10px;
}

.navbar li {
  float: left;
}

.nav-item {
  color: rgb(50, 255, 255);
}

/* Floated Image */
.floated-img {
  float: left;
  margin: 10px;
  border-radius: 5px;
}

.description {
  font-size: small;
}

.price {
  font-size: medium;
  font-weight: bold;
  color: rgb(0, 125, 0);
}
.title {
  font-weight: stronger;
  color: black;
}
.card {
  height: 100%;
  background-color: rgb(235, 235, 235);
}
.add-to-cart {
  background-color: white;
  color: #000000;
  margin-left: 65px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#price {
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 255, 0);
}

.add-to-cart:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
}
#contactBtn {
  background-color: rgb(235, 235, 235);
  color: #000000;
  border-color: rgb(50, 255, 255);
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#contactBtn:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
}

#loginbtn {
  width: 90%;
  margin-left: 5%;
  background-color: rgb(255, 255, 255);
  color: #000000;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#loginbtn:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
}

button:hover {
  color: black;
  background-color: rgb(50, 255, 255);
  transition: 0.1s ease;
  transform: scale(1.1);
}

/* Footer */
footer {
  margin-top: auto;
  background-color: rgb(235, 235, 235);
  text-align: center;
  padding: 10px;
  font-size: 14px;
  color: black;
}
